header{
    display: flex;
    justify-content: space-between;
}
.logo{
   margin-top: 20px;
   height: 30px;
}
nav{
    display: flex;
    gap: .5em;
    flex-direction: column;
    margin-top: 50px;
    background-color: rgb(197, 193, 185);
    padding: 50px;
    line-height: 50px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 24px;

}
a:hover{
    text-shadow: 2px 1px rgb(0, 0, 0);

}
.open{
    position: absolute;
    right: 30px;
    top: 30px;
    height: 40px;
    cursor: pointer;

}
#drop{
    display: none;
}
h1{
    margin-right: 330px;
    text-align: start;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logoJunto{
    display: flex;
}